.bg {
    width: 100%;
    height: 100%;
    position: relative;
}

html,
body {
    margin: 0;
    height: 100%;
    cursor: url('/imgs/cursor.png'), auto;
    background: linear-gradient(#fff 90%, rgb(215, 140, 211));
    overflow:hidden;
}

#container2 {
    display:none;
}

#maindiv, #aereadiv, #bigmaindiv {
    margin-left: 20%;
    margin-top: 5%;
    width: 45em;
    height: 45em;
    background-color: rgb(247, 247, 247);
    border: 5px solid rgb(147, 142, 151);
    border-radius: 5%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    animation: bigandblurin 1s ease-out;
}

#og {
    display:none;
}

#aereadiv {
    margin-left: 52em;
    z-index: 0;
    background: linear-gradient(rgb(255, 204, 252),#fff 80%);
    border: 5px double rgb(147, 142, 151);
    text-align: right;
    animation: bigandblurin 1s ease-out;
}

#aereadiv:before {
    content: 'Complementary Aerea';
    font-family: "Open Sans", sans-serif;
    color: rgb(63, 13, 50);
    font-size:2em;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border: 4px solid rgb(184, 113, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 8em;
}

.maindivstripes {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5076px;
    border-radius: 4%;
    background-image: repeating-linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0) 2px,
            rgba(0, 0, 0, 0.08) 2px,
            rgba(0, 0, 0, 0.08) 5px);
    animation: translate 60s linear infinite;
    transform: translateY(-4000px);
}


.buttons {
    width: 45%;
    height: 25%;
    border-radius: 25% / 50%;
    border: 4px solid rgb(184, 113, 255);
    background: linear-gradient(rgb(251, 243, 254)25%, #dfb8df 90%, rgb(209, 137, 197) 99%);
    margin: auto;
    margin-top: 2em;
    transition: 0.5s ease;
    text-align: center;
}

.buttons:before {
    position: absolute;
    width: 40%;
    height: 15%;
    margin-left: -20%;
    background: linear-gradient(rgba(255,255,255,0.5)70%, rgba(255,255,255,0)) ;
    border-radius: 50%;
    content: '';
}

.buttons:active {
    transform: scale(0.90, 0.90)
}

.buttons:hover {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fancyfont {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 3em;
    margin-top: 3.5rem;
    white-space: nowrap;
    color: #3f3f3f;
    user-select: none;
}

.circlecontainer {
    .circle {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 3px solid;
    }
}

.bigcirclegradient {
    width: 200vw;
    height: 200vw;
    position: fixed;
    left: -1.5%;
    top: -1.5%;
    animation: spin 4s linear infinite;
    background: linear-gradient(45deg, #ff34d6, #e0b7ff);
    border-radius: 50%;
}

.bigcircle {
    width: 200vw;
    height: 200vw;
    position: fixed;
    top: 1.5%;
    left: 1.5%;
    background-color: white;
    border-radius: 50%;
}

.sidebarimg, .rightsidebarimg, .fakeaudiothingies {
    position: absolute;
    top: 0%;
    width: 14.5%;
    margin-left: 2em;
    margin-top: 0.4rem;
    border: 3px solid rgb(155, 69, 128);
    border-radius: 50px;

}

.rightsidebarimg, .fakeaudiothingies {
    transform: translateX(34.5em);
}

.fakeaudiothingies {
    height: 700px;
    z-index: 1;
}

.playbutton {
    width: 75px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 0.2s linear;
}

.backbutton {
    width: 100px;
    height: 100px;
    border: 4px solid rgb(184, 113, 255);
    border-radius: 50%;
    background: linear-gradient(rgb(251, 243, 254)25%, #dfb8df 90%, rgb(209, 137, 197) 99%);
    margin: auto;
    margin-top: 2em;
    transition: 0.2s  ease-in-out;
}

.blurred {
    animation: bigandblurout ease-in-out 2s !important;
    animation-fill-mode: forwards !important;
}

.playbutton:active, .backbutton:active {
    transform: scale(0.9, 0.9)
}

.playlength {
    height: 35em;
    margin-left:3em;
    width: 10px;
    position: absolute;
    background-color: #8887c1;
    border-radius: 50% / 1%;
    border-left: 3px solid #a6a5d7;
    overflow: hidden;
}


#lengthbar {
    height: 35em;
    width: 10px;
    position:absolute;
    background-color: rgb(119, 59, 124);
}

#bigmaindiv {
    margin-left: 29%;
    width: 52em;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5em;
    overflow: scroll;
    background: linear-gradient(#fff 80%, #ffb4f0);
    position: fixed;
}



@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes bigandblurout {
    10% {
        transform: scale(0.95, 0.95);
    }
    100% {
        transform: scale(3, 3);
        opacity: 0;
        filter: blur(3em)
    }
}

@keyframes bigandblurin {
    0% {
        transform: scale(0, 0);
        filter: blur(3em);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes translate {
    100%{
        transform: translateY(-1000px);
    }
}